@model IEnumerable<PhotoToDatabase.UploadedImage>

@{
    ViewBag.Title = "Gallery";
}

<h2>Gallery</h2>

<p>
    @Html.ActionLink("Create New", "Upload", "ImageUpload")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImageName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUpload)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ImageName)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.ImageUpload)*@
            <img src="@Url.Content("~/Content/Image/")@item.ImageUpload" width="100" height="100" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ImageId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ImageId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ImageId })
        </td>
    </tr>
}

</table>
